extends layout

block content
    div.grid
        include nav
        div.whole.hardwareStatus
            h1 Hardware status
            p battery voltage
                span= voltage
            p motion sensor
                span= motion
            p soap touch sensor
                span= touch
            p camera
                span= camera
            p storage usage
                pre= storage